@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

/* Typography style */
.text-reset-1 {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 500;
    text-align: center;
}

.text-reset-2 {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 400;
    text-align: center;
}

.bold {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 600;
}

/* Color styling */
.green {
    color: #C4F82A;
}


/* Desktop styling */
body {
    background-color: #141414;
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-card {
    width: 384px;
    background-color: #1F1F1F;
    padding: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.profile-pic {
    width: 88px;
    height: 88px;
    margin: 0px auto;
    border-radius: 999px;
    object-fit: cover;
    display: block;

}

.card-title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;

    .button {
        width: 100%;
        text-align: center;
        padding: 12px;
        border-radius: 8px;
        background-color: #333333;
        border: none;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0px;
        font-weight: 600;
        cursor: pointer;
    }

    .button:hover {
        background-color: #C4F82A;
        color: #333333;
        
    }
}


/* Tablet Styling */
@media (max-width: 768px) {

body {
    background-color: #141414;
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.social-card {
    width: 456px;
    background-color: #1F1F1F;
    padding: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.profile-pic {
    width: 88px;
    height: 88px;
    margin: 0px auto;
    border-radius: 999px;
    object-fit: cover;
    display: block;

}

.card-title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;

    .button {
        width: 100%;
        text-align: center;
        padding: 12px;
        border-radius: 8px;
        background-color: #333333;
        border: none;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0px;
        font-weight: 600;
        cursor: pointer;
    }
}

}

/* Mobile Styling */
@media (max-width: 440px) {


body {
    background-color: #141414;
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-card {
    width: 100%;
    max-width: 327px;
    background-color: #1F1F1F;
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.profile-pic {
    width: 88px;
    height: 88px;
    margin: 0px auto;
    border-radius: 999px;
    object-fit: cover;
    display: block;

}

.card-title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;

    .button {
        width: 100%;
        text-align: center;
        padding: 12px;
        border-radius: 8px;
        background-color: #333333;
        border: none;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0px;
        font-weight: 600;
        cursor: pointer;
    }

    .button:hover {
        background-color: #C4F82A;
        color: #333333;
        
    }
}

}
